/*---  Contekan screen resolution bootstrap  ---*/
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

body {
    background-color: #9C835F;
}

.test, .test *{
    border: 1px solid red;
}

.subpage-1{
    position: relative;
}

.subpage-1 * {
    vertical-align: middle;
    padding-right: 1rem;
}

.headerimg1 {
    height: 4vh;
    width: auto;
}

.headerimg2 {
    height: 10vh;
    width: auto;
}

.tulisan {
    color: #F9B23D;
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vw;
}

.resizeimg {
    width: 3.5rem;
    height: 3.5rem;
}

.wrapper {
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 4.5rem;
    width: 4.5rem;
    padding-top: .5rem;
    padding-bottom: 1rem;
}

.game {
    position: relative;
    margin-top: 1.5rem;
}

.player {
    font-family: "Open Sans";
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .1rem;
    font-size: 2.5vw;
}

.versus {
    position: relative;
    color: #BD0000;
    font-family: Open Sans;
    font-style: normal;
    font-weight: bold;
    font-size: 3.5vw;
    text-align: center;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
}

.refresh {
    padding-top: 5rem;
}

.result {
    position: absolute;
    color: white;
    font-size: 1vw;
    height: 10vw;
    width: 15vw;
    transform: rotate(-28.87deg);
    display: flex;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
    background-color: #9C835F;
    z-index: -1;
}

h3 {
    width: 100%;
    font-size:2vw
}

.devnote {
    margin-left: 3rem;
    background-color: white;
    padding: .5rem;
    color: 9C835F;
    font-size: 2vh;
}
