@font-face {
  font-family: OpenSans-Regular;
  src: url('../fonts/OpenSans/OpenSans-Regular.ttf'); 
}

body, html {
	height: 100%;
  font-family: OpenSans-Regular, sans-serif;
}

.login {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #aaa;
}

.test {
  width: 500px;
  background: #ddd;
  border-radius: 10px;
  padding-bottom: 5vw;
}

.login-title {
  display: block;
  font-family: OpenSans-Regular;
  font-size: 30px;
  color: #555555;
  line-height: 1.2;
  text-align: center;
}