/*---  Contekan screen resolution bootstrap  ---*/
/*
Extra small (xs) devices (portrait phones, less than 576px)
No media query since this is the default in Bootstrap

Small (sm) devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

Medium (md) devices (tablets, 768px and up)
@media (min-width: 768px) { ... }

Large (lg) devices (desktops, 992px and up)
@media (min-width: 992px) { ... }

Extra (xl) large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }
*/

/* Challenge Screen Design (From figma) */

h1 {
  font-family: Arial;
  font-weight: bold;
  font-size: 80px;
}

h2 {
  font-family: Arial;
  font-weight: bold;
  font-size: 36px;
}

h3 {
  font-family: Arial;
  font-weight: bold;
  font-size: 24px;
}

body {
  font-family: 'Open Sans';
  font-size: 18px;
  background-color: black;
}

.navigation {
  text-transform: uppercase;
  font-size: 12px;
  font-weight: bold;
}

.main-button {
  font-family: Open Sans;
  font-weight: bold;
  font-size: 16px;
  /* additional css */
  padding: 1vw 5vw 1vw 5vw;
  border-radius: 3px;
}
/* End of Challenge Screen Design */

/* Custom stylesheet */


.img-max {
  max-width: 2000px;
  width:100%;
  height: 100%;
}

.navbar {
  background: rgba(0, 0, 0, .6) !important;
  padding-left: 1.2rem;
  padding-top: 1.2rem;
  padding-bottom: 1.2rem;
  letter-spacing: .1rem;
}

.navbar li {
  padding-right: .5rem;
}

.nav-special {
  padding-right: 10rem !important;
}

.subpage-1 {
  position: relative;
  color: white;
}

.subpage-1-caption {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subpage-1-bottom {
  position: absolute;
  top: 80%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.subpage-1-bottom h5 {
  font-size: 1rem;
  font-family: 'Open Sans';
  color: white;
}

.subpage-1-caption h1 {
  margin-top: 2vh;
  font-size: 4.5vw;
  letter-spacing: 3px;
}

.subpage-1-caption h3 {
  font-size: 2vw;
  letter-spacing: 2px;
  padding-top: 3vh;
  padding-bottom: 3.3vh;
}

.subpage-2 {
  position: relative;
  background-image: url("assets/the-games-bg.jpg");
  background-size: cover;
  background-position: center;
  height: 150vh;
  padding-top: 15%;
  padding-left: 20px;
  padding-right: 20px;
}

.subpage-2-caption {
  color: white;
  font-style: normal;
  letter-spacing: 1.3px;
}

.subpage-2 h1 {
  font-size: 3.2vw;
}

.subpage-2-carousel {
  padding-top: 3%;
}

.carousel .carousel-item {
  height: 33vw;
}

.carousel-item img {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 33vw;
}

.subpage-3 {
  position: relative;
  background-image: url("assets/features.jpg");
  background-size: cover;
  background-position: center;
  height: 150vh;
  padding-top: 20%;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.subpage-3 h1 {
  font-size: 500%;
  padding-bottom: .2em;
}

.subpage-3 li {
  color: #FFB548;
  padding-bottom: 15px;
}

.subpage-4 {
  position: relative;
  background-image: url("assets/requirements.png");
  background-size: cover;
  background-position: center;
  height: 150vh;
  padding-top: 10%;
  padding-left: 20px;
  padding-right: 20px;
  color: white;
}

.subpage-4 h1 {
  padding-bottom: 1.4rem;
}

.subpage-4-main p{
  margin-bottom: 0%;

}

.subpage-4-main table,tr,td {
  table-layout: fixed;
  color: white;
  border-color: #979797 !important;
}

.table h3 {
  color: #FFB548;
}

.subpage-5 {
  position: relative;
  background-image: url("assets/top-score-bg.png");
  background-size: cover;
  background-position: center;
  background-color: black;
  height: 150vh;
  padding-top: 10%;
  padding-left: 20px;
  padding-right: 20px;
}

.footer {
  padding-top: .5rem;
  padding-bottom: 2.5rem;
  color: white;
}

.tileMe li {
  display: inline;
  float: right;
  padding-right: 30px;
}

.tileMe2 li {
  display: inline;
  float: right;
  padding-right: 1rem;
  color: white
}

.tileMe2 p {
  color: #FFFFFF;
  opacity: 0.5;
  margin-right: 11rem;
}

.divider-footer {
  border-top: 2px solid #b4b4b4;
  width: 85%;
  margin-top: .3rem;
  margin-bottom: 1rem;
  color: #FFFFFF;
  opacity: 0.5;
}

.end {
  color: white;
  position: relative;
}

.spesial-1 {
  position: absolute;
}

.spesial-2 {
  position: absolute;
  left: 95%;
}

.tileMe2 a, .tileMe a {
  color: white;
}

.subpage-5-left {
  color: white;
  padding-left: 4%;
}

.subpage-5-left h1 {
  font-size: 5rem;
}

.subpage-5-left p {
  margin-right: 40%;
}

.subpage5ele {
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}

.box-default {
  color: white;
  background: rgba(255, 255, 255, 0.08);
  max-width: 70%;
  border-radius: 10px;
  padding: .5rem .5rem .5rem .5rem;
}

.box-default img {
  border-radius: 50%;
  max-width: 65px;
}

.box-vertical {
  height: 4.5rem;
  line-height: 4.5rem;
}

.namaaa {
  color: #FFB548;
  font-size: 2rem;
  margin-bottom: 0px;
}

.tanggaaal {
  color: #FFFFFF;
  opacity: 0.5;
  font-size: .8rem;
}

.tldr p{
  margin-right: 20% !important;
  /* text-align: justify; */
}

.subpage-5-right hr {
  height: .1rem;
}

.box-1 {
  margin-left: 8rem !important;
}

.box-3 {
  margin-left: 4rem !important;
}

/* Pop up login */

/* Button used to open the contact form - fixed at the bottom of the page */
.open-button {
  background-color: #555;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  opacity: 0.8;
  position: fixed;
  bottom: 23px;
  right: 28px;
  width: 280px;
}

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  background-color: #ddd;
  top: 4.7rem;
  right: 0;
  border: 3px solid #f1f1f1;
  z-index: 9;
}

/* Add styles to the form container */
.form-container {
  max-width: 300px;
  padding: 10px;
  background-color: white;
}

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom:10px;
  opacity: 0.8;
}

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red;
}

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1;
}